.bash_history
.bash_logout
.bash_profile
.cache/
.conda/
.condarc
.config/connections.db
.config/dconf/
.config/dleyna-renderer-service.conf
.config/evolution/
.config/gnome-initial-setup-done
.config/gtk-3.0/
.config/htop/
.config/ibus/
.config/pulse/
.config/teamviewer/
.config/user-dirs.dirs
.config/user-dirs.locale
.dotfiles/
.gitignore.swp
.local/
.mozilla/
.nextflow/
.singularity/
.ssh/id_ed25519
.ssh/id_ed25519.pub
.ssh/known_hosts
.ssh/known_hosts.old
.task/
.viminfo
R/
miniconda3/
notes.txt
projects/

